/.vs
/Projects/LedBlink/.vs
/Projects/LedBlink/*.user
/Projects/LedBlink/packages
/Projects/LedBlink/obj
/Projects/LedBlink/bin
/Projects/LedBlink/Properties/Resources.Designer.cs
/Projects/DigitalWrite/.vs
/Projects/DigitalWrite/*.user
/Projects/DigitalWrite/packages
/Projects/DigitalWrite/obj
/Projects/DigitalWrite/bin
/Projects/LedBlink2/.vs
/Projects/LedBlink2/*.user
/Projects/LedBlink2/packages
/Projects/LedBlink2/obj
/Projects/LedBlink2/bin
