/.vs
/Projects/LedBlink/.vs
/Projects/LedBlink/*.user
/Projects/LedBlink/packages
/Projects/LedBlink/obj
/Projects/LedBlink/bin
/Projects/LedBlink/Properties/Resources.Designer.cs
/Projects/DigitalWrite/.vs
/Projects/DigitalWrite/*.user
/Projects/DigitalWrite/packages
/Projects/DigitalWrite/obj
/Projects/DigitalWrite/bin
/Projects/LedBlink2/.vs
/Projects/LedBlink2/*.user
/Projects/LedBlink2/packages
/Projects/LedBlink2/obj
/Projects/LedBlink2/bin
/Libraries/Seeed.TinyCLR.WioLTE/.vs
/Libraries/Seeed.TinyCLR.WioLTE/*.user
/Libraries/Seeed.TinyCLR.WioLTE/packages
/Libraries/Seeed.TinyCLR.WioLTE/obj
/Libraries/Seeed.TinyCLR.WioLTE/bin
/Projects/LedBlink3/.vs
/Projects/LedBlink3/*.user
/Projects/LedBlink3/packages
/Projects/LedBlink3/obj
/Projects/LedBlink3/bin
